<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.mongo" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name" >
        <activity
            android:name=".ui.plugin.redbag.RedBagCreateController"
            android:label="发红包" >
        </activity>
        <activity
            android:name=".ui.plugin.controller.WebViewController"
            android:label="@string/title_activity_web_view_controller" >
        </activity>
        <activity
            android:name=".ui.plugin.namecard.NameCardChooseController"
            android:label="@string/title_activity_name_card_choose_controller" >
        </activity>
        <activity
            android:name=".ui.plugin.favourite.FavouriteChooseController"
            android:label="@string/title_activity_name_card_choose_controller" >
        </activity>
        <activity
            android:name=".ui.plugin.video.VideoRecordActivity"
            android:label="@string/title_activity_name_card_choose_controller" >
        </activity>
        <activity
            android:name=".ui.plugin.video.VideoPlayController"
            android:label="@string/title_activity_video_play_controller" >
        </activity>
    </application>

</manifest>
